
body {
	background-color: rgb(165, 180, 174);
	font-family: 'Heebo', sans-serif;
	display: flex;
}


h1{
	text-align: center;
	background-color: rgba(34, 110, 37, 0.575);
}
.container_1 {
	padding: 1%;
	border-bottom: 2px ridge blue;
	display: flex;
	align-items: center;
	justify-content: center
  	}
	img {
	max-width: 120%;
  	}
  	.marco {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	border-left: 1px solid black;
	margin-left: 20px;
	padding-left: 1%;
	flex-basis: 20%;
	height: 20%;
	order: 2;
  	}
		#foto{
			max-width: 150%;
		}
  	.resumen {
	color: #141313;
	flex-basis: 80%;
}
.container_2 {
	display: flex;
	align-items: center;
	justify-content: center
  	}
	aside {
	position: -webkit-sticky;
 	position: sticky;
  	top: 0;
    display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 20px;
	margin-left: 20px;
	border-left: 1px solid black;
	flex-basis: 20%;
	order: 2;
	}
	button.barra {
	height: 3vw;
	width: 100%;
	padding: 30px 30px;
	justify-content: center;
	font-size: larger;
	background-color: rgba(34, 110, 37, 0.575);
	justify-self: center;
	}
 	main {
	flex-basis: 80%;
	order: 1;
	margin-right: 20px;
	}
	div.container_2 {
		padding: 1%;
	}
		#DatosPersonales {
			display: none;
		}
		#Objetivo {
			display: none;
		}
		#Experiencia {
			display: none;
		}
		#Idiomas {
			display: none;
		}
		#Educacion {
			display: none;
		}
		#Cursos {
			display: none;
	}

footer {
	border:2px solid #141313 ;
	background-color: rgba(34, 110, 37, 0.575);
	padding: 1%;
}